.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  margin: 1px;
  padding: 5px;
  width: 200px;
}

button {
  margin: 2px;
  padding: 10px 20px;
  background-color: #2f4ad3;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

button:disabled {
  background-color:#2f4ad3;
  color: grey;
  cursor: not-allowed;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 16px;
  color: white;
}

.add-to-cart {
  margin: 2px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
}

.add-to-cart:hover {
  background-color: darkgreen;
  color: lightgreen;
}

.remove-from-cart {
  margin: 2px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
}

.remove-from-cart:hover {
  background-color: darkred;
  color: lightcoral;
}

.main-form-header {
  margin: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 6px;
}

.order-list {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 659px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow-y: auto;
}

.order-form {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-form-header {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.order-form-body {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.order-form-table {
  width: 400px;
}

.clickable {
  cursor: 'pointer';
  text-decoration: 'underline';
}

.error {
  color: red;
}